<div>
	<h1>Automobili</h1>
	<div ng-controller="automobiliCtrl">
		<div>
			<form>
				marka:<select class="form-control"
      			ng-options="prepMarka(marka) for marka in marke track by marka.id"
      				ng-model="model.marka">
  				</select>
				model:
				<select class="form-control"
      			ng-options="prepModel(model) for model in modeli track by model.id"
      				ng-model="automobil.model">
  				</select>
				godiste:<input ng-model="automobil.godiste" class="form-control">
				kilometraza:<input ng-model="automobil.kilometraza" class="form-control">
				cena:<input ng-model="automobil.cena" class="form-control">
				<button ng-click="save()" class="btn btn-success">sacuvaj</button>
			</form>
			<!-- TODO implementirati filter po imenu ili prezimenu autora -->
			<form>
				cena od:
				<input class="form-control" ng-model="priceFrom">
				cena do:
				<input class="form-control" ng-model="priceTo">
				godiste od:
				<input class="form-control" ng-model="priceFrom">
				godiste do:
				<input class="form-control" ng-model="priceTo">
				
				<button ng-click="filter()" class="btn btn-success">filtriraj</button>
			</form>
			
			

		</div>
		<div class="btn-group pull-right">
			<button ng-disabled="currentPage<1" class="btn btn-primary btn-sm" ng-click="changePage(-1)">prev</button>
			<button ng-disabled="currentPage>=totalPages-1" class="btn btn-primary btn-sm" ng-click="changePage(1)">next</button>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>godiste</th>
					<th>kilometraza</th>
					<th>cena</th>
					<th>model</th>
					<th>marka</th>
					<th>akcija</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="automobil in automobili">
					<td>{{automobil.id}}</td>
					<td>{{automobil.godiste}}</td>
					<td>{{automobil.kilometraza}}</td>
					<td>{{automobil.cena}}</td>
					<td>{{automobil.model.naziv}}</td>
					<td>{{model.marka.naziv}}</td>
					<td>
			<button class="btn btn-danger" ng-click="deleteAutomobil(automobil.id)">obrisi</button>
			<button class="btn btn-warning" ng-click="editAutomobil(automobil)">izmeni vozilo</button>
			<button class="btn btn-success" ng-click="editNewPage(automobil.id)">izmeni na novoj stranici</button>			
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>